html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	`font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html
{
	height: 100%;
}
body {
	height: 100%;
	line-height: 1;
	background-color: #ecf0f1;
	font-family: 'Work Sans', sans-serif;
	display: flex;
	flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header
{
	position: absolute;
	text-align: center;
	height: 69px;
	width: 100%;
	z-index: 1000;
}

header nav
{
	margin: 0;
	padding: 0;

}

header ul
{
	background-color: #bdc3c7;
	position: fixed;
	list-style: none;
}

.container
{
	position: relative;
	flex: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	align-items: stretch;
	margin-top: 5%;
}

.container form
{
	display: block;
	width: 75%;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="submit"],
.container form input[type="password"]
{
	padding: 10px;
	border: none;
	border-bottom: solid 5px #C9C9C9;
	width: 100%;
	margin-right: 15px;
	-webkit-transition: border-bottom .5s;
	-moz-transition: border-bottom .5s;
	-ms-transition: border-bottom .5s;
	-o-transition: border-bottom .5s;
	transition: border-bottom .5s;
	margin-bottom: 5px;
}


.container form input[type="text"]:focus,
.container form input[type="email"]:focus,
.container form input[type="submit"],
.container form input[type="password"]:focus
{
	outline: none;
	border-bottom: solid 5px #969696;
}

.gallery
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: stretch;
}

.card
{
	width: 255px;
	height: 200px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 20px;
}

footer
{
	height: 30px;
	background-color: #95a5a6;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	bottom: 0;
	margin-bottom: 0;
	text-align: center;
}

@media screen and (min-width: 900px)
{
	header ul
	{
		display: flex;
		width: 100%;
	}

	header ul li
	{
		display: flex;
		padding-top: 2vmin;
		padding-bottom: 2vmin;
		padding-right: 4vmin;
		padding-left: 4vmin;
		-webkit-transition: background-color .5s;
		-moz-transition: background-color .5s;
		-ms-transition: background-color .5s;
		-o-transition: background-color .5s;
		transition: background-color .5s;
	}

	header ul li:hover
	{
		background-color: #95a5a6;
	}

	header ul a
	{
		color: #000;
		text-decoration: none;
	}

	.container form
	{
		display: flex;
	}
}

@media screen and (max-width: 900px)
{
	header ul
	{
		display: block;
	}

	header ul li
	{
		padding-top: 1vmin;
		padding-bottom: 1vmin;
		padding-right: 2vmin;
		padding-left: 2vmin;
		-webkit-transition: background-color .5s;
		-moz-transition: background-color .5s;
		-ms-transition: background-color .5s;
		-o-transition: background-color .5s;
		transition: background-color .5s;
	}

	header ul li:hover
	{
		background-color: #95a5a6;
	}

	header ul a
	{
		color: #000;
		text-decoration: none;
	}

	.container form
	{
		display:flex;
		flex-direction: column;
	}
}